<div class="clip">
    <table>
    <tr>
        <td>
        <img src="/../public/images/playbutton.png" id="playImage" alt="https://www.youtube.com/embed/{{youtubeId}}">
        </td>
        <td>
        <div id="content">
            <div id="header">
                <span id="title">{{title}}</span>
                <span id="year">{{year}}</span>
                <div id="location">{{location}}</div>
            </div>

            <div id="body">
                <div id="familyMembers">{{familyMembers}}</div>
            </div>

            <div id="footer">
                <span id="tags">{{tags}}</span>
                <span id="entertainmentRating">&#9733;{{entertainmentRating}}</span>
            </div>
        </div>
        </td>
    </tr>
    </table>
    <div id="footer-background"></div>
</div>