<div class="col-lg-4 col-md-6 col-sm-12 col-clip">
	<div class="clip" id="{{youtubeId}}">
		<img class="clip-image" src="http://img.youtube.com/vi/{{youtubeId}}/0.jpg" alt="">
		</iframe>
		<div class="clip-info">
			<div id="title">{{title}}</div>
			
			<span id="location">{{location}}</span>
			<span id="year">{{year}}</span>
		</div>
		{{!-- <div id="content">
			<div id="header">
				
			</div>

			<div id="body">
				<div id="familyMembers">{{familyMembers}}</div>
			</div>

			<div id="footer">
				
				<span id="entertainmentRating">&#9733;{{entertainmentRating}}</span>
			</div>
		</div>
		<div id="footer-background"></div> --}}
	</div>
</div>