<!DOCTYPE html>
<html lang="en">
<head>
	{{> head }}
	<link rel="stylesheet" type="text/css" href="/public/css/pages/home.css">
	<script src="/public/js/pages/home.js"></script>
	<title>Home | Family Videos</title>
</head>
<body>
	{{> nav this}}
	<div class="container">
		{{!-- QUERIES --}}
		<form method="GET" action="/clips" id="query-form" class="query-form">
			<div class="row">
				<div class="col-lg-5 col-md-4 col-sm-12 query-search-box-container">
					<input type="text" name="title" id="SearchQuery" class="query-search-box" placeholder="Search...">
					<button type="submit" class="query-search-button" id="query-search-button">
						<i class="fa fa-search"></i>
					</button>
				</div>

				<div class="col-lg-7 col-md-8 col-sm-12">
					<div class="query-options">
						<span>{{numResults}} Videos</span>
						<span>
							<button class="btn btn-info {{#ifCond listStyle 'grid'}}active{{/ifCond}}" id="grid-view-button">
								<i class="fa fa-th"></i>
							</button>
							<button class="btn btn-info {{#ifCond listStyle 'list'}}active{{/ifCond}}" id="list-view-button">
								<i class="fa fa-th-list"></i>
							</button>
						</span>
						<span class="sort-button">
							<a href="#collapsed-queries" data-toggle="collapse">Sort
							<i class="fa fa-sliders"></i></a>
						</span>
					</div>
				</div>
			</div>
			
			<div id="collapsed-queries" class="collapse collapsed-queries">
				{{> queries this}}
			</div>
		</form>

		{{!-- CLIPS --}}
		<div class="row clips-container" id="clips-container">
			{{#ifCond numResults 0}}
			<div class="no-results-message"><p>Sorry, no results were found</p></div>
			{{/ifCond}}
			{{#each clips}} 
				{{> clip }} 
			{{/each}}
		</div>
		<div class="page-buttons">
			<span class="btn btn-info {{#ifCond currentPage 1}}disabled{{/ifCond}}" id="page-left-button" data-page="{{currentPage}}">
				<i class="fa fa-arrow-left"></i>
			</span>
			<span>
				Page {{currentPage}} of {{maxPages}}
			</span>
			<span class="btn btn-info {{#ifCond currentPage maxPages}}disabled{{/ifCond}}" id="page-right-button" data-page="{{currentPage}}">
				<i class="fa fa-arrow-right"></i>
			</span>
		</div>
	</div>
</body>
</html>