<!DOCTYPE html>
<html lang="en">

<head>
	{{> head }}
	<link rel="stylesheet" type="text/css" href="/public/css/pages/video.css">
	<script src="/public/js/pages/video.js"></script>
	<title>Video | Family Videos</title>
</head>

<body>
	{{> nav this}}
	<div class="container main-content">
		<div class="video-iframe-container" id="video-iframe-container">
			<iframe align="middle" src="https://www.youtube.com/embed/{{clip.youtube_id}}?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div class="video-info" id="video-info">
			<h3 id="video-title">
				<strong>{{clip.title}}</strong>
			</h3>
			<p id="video-year">{{clip.year}}</p>
			<p id="video-location">{{clip.location}}</p>
			<p id="video-family-members">{{clip.membersString}}</p>
			<div class="video-info-footer">
				<span id="video-tags">{{clip.tagsString}}</span>
				<span id="video-rating">
					<i class="fa fa-star"></i> {{clip.rating}}</span>
			</div>
			{{# if isAuth}}
				<input type="button" value="Edit Info" class="btn btn-info edit-video-info-button" id="edit-video-info-button"> 
			{{/if}}
		</div>
		{{#if isAuth}}
		<div class="video-info-edit hidden-info" id="video-info-edit">
			<div class="row">
				<h4 class="col-sm-12">Title</h4>
				<div class="col-sm-12">
					<input id="edited-title" class="video-info-edit-title" type="text" name="title" value="{{clip.title}}">
				</div>
			</div>
			<div class="row">
				<h4 class="col-sm-12">Year</h4>
				<div class="col-sm-12">
					<label class="radiobutton">1991
						<input class="edited-years" type="radio" name="years" value="1991" {{#ifCond clip.year 1991}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">1992
						<input class="edited-years" type="radio" name="years" value="1992" {{#ifCond clip.year 1992}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">1993
						<input class="edited-years" type="radio" name="years" value="1993" {{#ifCond clip.year 1993}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">1994
						<input class="edited-years" type="radio" name="years" value="1994" {{#ifCond clip.year 1994}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">1995
						<input class="edited-years" type="radio" name="years" value="1995" {{#ifCond clip.year 1995}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">1996
						<input class="edited-years" type="radio" name="years" value="1996" {{#ifCond clip.year 1996}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<h4 class="col-sm-12">Location</h4>
				<div class="col-sm-12">
					<label class="radiobutton">Horseshoe Valley
						<input class="edited-locations" type="radio" name="locations" value="Horseshoe Valley" {{#ifCond clip.location "Horseshoe Valley"}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">Papa &amp; Grandma's
						<input class="edited-locations" type="radio" name="locations" value="Papa and Grandma's House" {{#ifCond clip.location "Papa and Grandma's House"}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">Rumball House
						<input class="edited-locations" type="radio" name="locations" value="Rumball House" {{#ifCond clip.location "Rumball House"}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">Lean House
						<input class="edited-locations" type="radio" name="locations" value="Lean House" {{#ifCond clip.location "Lean House"}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">Cobourg
						<input class="edited-locations" type="radio" name="locations" value="Cobourg" {{#ifCond clip.location "Cobourg"}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<h4 class="col-sm-12">Family Members</h4>
				<div class="col-sm-12">
					<label class="checkbox">Papa
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Papa" {{#ifContains clip.members "Papa"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Grandma
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Grandma" {{#ifContains clip.members "Grandma"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">John
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="John" {{#ifContains clip.members "John"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Valerie
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Valerie" {{#ifContains clip.members "Valerie"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Colin
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Colin" {{#ifContains clip.members "Colin"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Kelsey
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Kelsey" {{#ifContains clip.members "Kelsey"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Rick
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Rick" {{#ifContains clip.members "Rick"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Lauralyn
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Lauralyn" {{#ifContains clip.members "Lauralyn"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Alicia
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Alicia" {{#ifContains clip.members "Alicia"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Olivia
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Olivia" {{#ifContains clip.members "Olivia"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Dave
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="David" {{#ifContains clip.members "David"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Kim
						<input class="edited-familyMembers" type="checkbox" name="familyMembers" value="Kimberley" {{#ifContains clip.members "Kimberley"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<h4 class="col-sm-12">Entertainment Rating</h4>
				<div class="col-sm-12">
					<label class="radiobutton">1
						<input class="edited-entertainmentRatings" type="radio" name="entertainmentRatings" value="1" {{#ifCond clip.rating 1}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">2
						<input class="edited-entertainmentRatings" type="radio" name="entertainmentRatings" value="2" {{#ifCond clip.rating 2}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">3
						<input class="edited-entertainmentRatings" type="radio" name="entertainmentRatings" value="3" {{#ifCond clip.rating 3}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">4
						<input class="edited-entertainmentRatings" type="radio" name="entertainmentRatings" value="4" {{#ifCond clip.rating 4}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">5
						<input class="edited-entertainmentRatings" type="radio" name="entertainmentRatings" value="5" {{#ifCond clip.rating 5}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<h4 class="col-sm-12">Tags</h4>
				<div class="col-sm-12">
					<label class="checkbox">Cute
						<input class="edited-tags" type="checkbox" name="tags" value="Cute" {{#ifContains clip.tags "Cute"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Funny
						<input class="edited-tags" type="checkbox" name="tags" value="Funny" {{#ifContains clip.tags "Funny"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Heartwarming
						<input class="edited-tags" type="checkbox" name="tags" value="Heart Warming" {{#ifContains clip.tags "Heart Warming"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Holidays
						<input class="edited-tags" type="checkbox" name="tags" value="Holidays" {{#ifContains clip.tags "Holidays"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Birthdays
						<input class="edited-tags" type="checkbox" name="tags" value="Birthdays" {{#ifContains clip.tags "Birthdays"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
					<label class="checkbox">Sports
						<input class="edited-tags" type="checkbox" name="tags" value="Sports and Activities" {{#ifContains clip.tags "Sports and Activities"}}checked{{/ifContains}}>
						<span class="checkbox-inner"></span>
					</label>
				</div>
			</div>
			<div class="row">
				<h4 class="col-sm-12">YouTube ID</h4>
				<div class="col-sm-12">
					<input type="text" name="youtubeId" id="edited-youtubeId" value="{{clip.youtube_id}}" disabled>
				</div>
				<h4 class="col-sm-12">Mongo ID</h4>
				<div class="col-sm-12">
					<input type="text" name="mongo_id" id="edited-mongoId" value="{{clip._id}}" disabled>
				</div>
			</div>
			<div class="row">
				<h4 class="col-sm-12">State</h4>
				<div class="col-sm-12">
					<label class="radiobutton">Unlisted
						<input class="edited-state" type="radio" name="state" value="unlisted" {{#ifCond clip.state 'unlisted'}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
					<label class="radiobutton">Listed
						<input class="edited-state" type="radio" name="state" value="listed" {{#ifCond clip.state 'listed'}}checked{{/ifCond}}>
						<span class="radiobutton-inner"></span>
					</label>
				</div>
			</div>
			<br>
			{{!-- <div class="row">
				<h2 class="col-sm-12">Advanced</h2>
				<div class="col-sm-3">
					<h4>Tape Id ({{clip.tapeId}})</h4>
					<input id="tapeId" type="text" name="tapeId">
				</div>
				<div class="col-sm-3">
					<h4>Clip Id ({{clip.clipId}})</h4>
					<input id="clipId" type="text" name="clipId">
				</div>
			</div> --}}
			<div class="row">
				<div class="edit-info-buttons-container">
					<input type="button" class="btn btn-secondary edit-info-button" id="cancel-info-button" value="Cancel">
					<input type="button" class="btn btn-info edit-info-button" id="save-info-button" value="Save">
				</div>
			</div>
		</div>
		{{/if}}
	</div>
	 {{> footer this}}
</body>
</html>